%typography-text-preset-1 {
  font-family: 'Figtree', sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1.5;
}

%typography-text-preset-2 {
  font-family: 'Figtree', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
}

%typography-text-preset-3 {
  font-family: 'Figtree', sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5;
}

%typography-text-preset-3-bold {
  font-family: 'Figtree', sans-serif;
  font-size: 0.875rem;
  font-weight: 800;
  line-height: 1.5;
}
